---
layout: home
---

<div class="posts">
  <h1>RECENT WORK</h1>
  <section>
    <h3>Luxury/Fashion/Lifestyle</h3>
    <ul>
      {% for post in site.posts %}
      {% if post.category == "Luxury/Fashion/Lifestyle" %}
      <li class="item">
        <a href="{{ post.url }}">
          <div class="introduction">
            <div class="meta">
              <span>{{ post.city }}</span>
            </div>
            <div class="title">
              {{ post.title }}
            </div>
            <div class="more">Read more >></div>
          </div>
          <div class="coverImage">
            <img src="{{ post.coverImageURL }}">
          </div>
        </a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </section>
  <section>
    <h3>Government/Finance/Tech</h3>
    <ul>
      {% for post in site.posts %}
      {% if post.category == "Government/Finance/Tech" %}
      <li class="item">
        <a href="{{ post.url }}">
          <div class="introduction">
            <div class="meta">
              <span>{{ post.city }}</span>
            </div>
            <div class="title">
              {{ post.title }}
            </div>
            <div class="more">Read more >></div>
          </div>
          <div class="coverImage">
            <img src="{{ post.coverImageURL }}">
          </div>
        </a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </section>
  <section>
    <h3>Pet</h3>
    <ul>
      {% for post in site.posts %}
      {% if post.category == "Pet" %}
      <li class="item">
        <a href="{{ post.url }}">
          <div class="introduction">
            <div class="meta">
              <span>{{ post.city }}</span>
            </div>
            <div class="title">
              {{ post.title }}
            </div>
            <div class="more">Read more >></div>
          </div>
          <div class="coverImage">
            <img src="{{ post.coverImageURL }}">
          </div>
        </a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </section>
</div>

