<footer class="footer">
  <div class="item center">
    <div class="icon center">
      <img  width="16" height="16" src="../assets/icons/location_icon.png"/>
    </div>
    <h2 class="center">Address</h2>
    <p class="center">
      1st Floor, No 696, Weihai Road, Shanghai, China
    </p>
  </div>
  <div class="item center">
    <div class="icon center">
      <img width="16" height="13" src="../assets/icons/email_icon.png"/>
    </div>
    <h2 class="center">Email</h2>
    <p class="center">jiachen@slicomms.com</p>
  </div>
</footer>
