$sli-gold: darkgoldenrod;

@font-face {
  font-family: crimson;
  src: url(https://cdn.flyingant.me/assets/fonts/CrimsonText-Italic.otf);
}

@font-face {
  font-family: montserrat-black;
  src: url(https://cdn.flyingant.me/assets/fonts/Montserrat-Black.ttf);
}

@font-face {
  font-family: montserrat-medium;
  src: url(https://cdn.flyingant.me/assets/fonts/Montserrat-Medium.ttf);
}

body {
  margin: 0 auto;
  padding: 0;

  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header {
    position: relative;
    width: 100%;
    .logo {
      display: block;
    }
    ul {
      position: absolute;
      top: 12px;
      right: 12px;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        list-style: none;
        margin: 0 6px;
        a {
          font-family: montserrat-medium;
          font-size: 14px;
          color: black;
          text-decoration: none;
          &:hover {
            cursor: pointer;
            color: black;
            text-decoration: none;
          }
        }
      }
      @media (max-width:600px) {
        li {
          display: block;
          text-align: center;
          margin: 6px 0;
        }
      }
    }
  }

  .section {
    h2, h3, p {
      text-align: center;
      padding: 0 12px;
    }
    .company {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      height: 100%;
      .slogan {
        width: 100%;
        h2 {
          font-family: montserrat-black;
          font-size: 64px;
          letter-spacing: 4px;
          text-align: center;
          margin: 24px 0 0 0;
          img {
            width: 320px;
          }
        }
        h3 {
          font-family: montserrat-medium;
          font-size: 32px;
          line-height: 48px;
          letter-spacing: 4px;
          text-align: center;
        }
        p {
          font-family: crimson;
          width: 52%;
          margin: 0 auto;
          font-size: 16px;
          color: rgb(151, 151, 151);
          text-align: center;
        }
        .down {
          width: 48px;
          height: 48px;
          margin: 48px auto 0 auto;
          border: 1px solid #ccc;
          border-radius: 24px;
        }
      }

    }
    .business {
      font-family: sans-serif;
      color: #666666;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      height: 100%;
      h2 {
        font-family: montserrat-medium;
        font-size: 42px;
        font-weight: 700;
        color: black;
        text-align: center;
        margin-top: 96px;
        margin-bottom: 12px;
      }
      .subtitle {
        width: 72%;
        margin: 0 auto;
        font-family: sans-serif;
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: 300;
        line-height: 20px;
        text-align: center;
      }
      .categories {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        max-width: 960px;
        margin: 72px auto 0 auto;
        .item {
          width: 320px;
          height: 380px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          background-color: white;
          .icon {
            height: 120px;
            .black {
              display: block;
            }
            .white {
              display: none;
            }
            &.luxury {
              img {
                margin: auto;
                width: 63.7px;
                height: 51.1px;
              }
            }
            &.finance {
              img {
                margin: auto;
                width: 60.9px;
                height: 60.9px;
              }
            }
            &.pet {
              img {
                margin: auto;
                width: 74.2px;
                height: 74.2px;
              }
            }
          }
          h3 {
            font-family: sans-serif;
            font-weight: 300;
            letter-spacing: 1px;
            color: black;
            margin: 6px 0;
          }
          p {
            width: 80%;
            letter-spacing: 1px;
            font-size: 14px;
            font-family: sans-serif;
            font-weight: 300;
            line-height: 24px;
          }
          &:hover {
            cursor: pointer;
            h3 {
              color: white !important;
            }
            p {
              color: white !important;
            }
            background: rgb(254,241,132);
            background: linear-gradient(126deg, rgba(254,241,132,1) 0%, rgba(217,157,70,1) 100%);
            .black {
              display: none;
            }
            .white {
              display: block;
            }
          }
        }

        @media (max-width:959px) {
          flex-direction: column;
          .item {
            height: 300px;
          }
        }
      }
    }
    .recent-work {
      font-family: sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      height: 100%;
      h2 {
        font-family: montserrat-medium;
        font-size: 42px;
        font-weight: 700;
        color: black;
        text-align: center;
        margin-top: 28px;
        margin-bottom: 18px;
      }
      .carousel {
        width: 100%;
        .slick-prev {
          position: absolute;
          top: 50%;
          left: 10%;
          margin-top: -60px;
          width: 32px;
          height: 32px;
          background: url("https://cdn.flyingant.me/assets/icons/chevron_left.svg") no-repeat;
          z-index: 300;
        }
        .slick-next {
          position: absolute;
          top: 50%;
          right: 10%;
          margin-top: -60px;
          width: 32px;
          height: 32px;
          background: url("https://cdn.flyingant.me/assets/icons/chevron_right.svg") no-repeat;
          z-index: 300;
        }
        .slick-list {
          position: relative;
          z-index: 200;
        }
        .item {
          display: block;
          outline: none;
          text-decoration: none;
          &:hover {
            text-decoration: none;
          }
          div {
            width: 100%;
            height: 560px;
          }
          @media (max-width:959px) {
            div {
              width: 100%;
              height: 60vh;
            }
          }
          h4 {
            font-family: crimson;
            text-align: center;
            color: #666666;
            line-height: 20px;
            padding: 0 10%;
          }
        }
      }
    }
    .client {
      font-family: sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      height: 100%;
      h2 {
        font-family: montserrat-medium;
        font-size: 42px;
        font-weight: 700;
        color: black;
        text-align: center;
        margin-top: 56px;
        margin-bottom: 48px;
      }
      .map_container{
        width: 100%;
        height: 100%;
        overflow: auto;
        .map {
          position: relative;
          width: 778px;
          height: 227px;
          margin: 48px auto;
          img {
            width: 100%;
            height: 100%;
          }
          .bgMap {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            z-index: 99;
          }

          .china {
            position: absolute;
            top: -8%;
            right: 20%;
            width: 30px;
            z-index: 100;
          }

          .australia {
            position: absolute;
            top: 64%;
            left: 37%;
            width: 30px;
            z-index: 100;
          }

          .brazil {
            position: absolute;
            top: 21%;
            left: 26%;
            width: 30px;
            z-index: 100;
          }

          .canada {
            position: absolute;
            top: -16%;
            left: 14%;
            width: 30px;
            z-index: 100;
          }

          .germany {
            position: absolute;
            top: -17%;
            left: 41%;
            width: 46px;
            z-index: 100;
          }

          .england {
            position: absolute;
            top: -21%;
            left: 38%;
            width: 34px;
            z-index: 100;
          }

          .luxembourg {
            position: absolute;
            top: -10%;
            left: 39%;
            width: 55px;
            z-index: 100;
          }

          .united_states {
            position: absolute;
            top: -9%;
            left: 17%;
            width: 38px;
            z-index: 100;
          }
          .australia {
            position: absolute;
            top: 35%;
            left: 81%;
            width: 46px;
            z-index: 100;
          }
          .morocco {
            position: absolute;
            top: -6%;
            left: 38%;
            width: 45px;
            z-index: 100;
          }
        }
      }
    }
  }

  .footer {
    width: 80%;
    padding: 24px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin: 80px auto 20px auto;
    border: 1px solid transparent;
    border-radius: 8px;
    -webkit-box-shadow: 0px -1px 26px -4px rgba(120,119,120,1);
    -moz-box-shadow: 0px -1px 26px -4px rgba(120,119,120,1);
    box-shadow: 0px -1px 26px -4px rgba(120,119,120,1);
    .item {
      flex-direction: column !important;
      .icon {
        height: 32px;
        img {
          margin: auto;
        }
      }
      h2 {
        font-family: montserrat-medium;
        font-size: 12px !important;
        font-weight: 700;
        color: black;
        text-align: center;
        margin: 0 0 6px 0;
      }
      p {
        width: 86%;
        margin: 0;
        font-size: 10px;
        font-family: sans-serif;
        font-weight: 300;
        text-align: center;
      }
    }
  }
}
