$sli-gold: darkgoldenrod;

.post {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 12px;
  h1 {
    font-size: 35px;
    line-height: 125%;
  }

  .carousel {
    width: 100%;
    height: 568px;

    .item {
      outline: none;

      div {
        width: 100%;
        height: 568px;
      }
    }
  }
  p {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 200;
    line-height: 140%;
  }
  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}
