$sli-gold: darkgoldenrod;

.post {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 12px;
  h1 {
    font-size: 52px;
    line-height: 125%;
  }
  p {
    font-size: 22px;
    font-weight: 200;
    line-height: 140%;
  }
  img {
    max-width: 100%;
  }
}
