<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" rel="stylesheet" type="text/css"/>
  <link href="//cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.7/fullpage.min.css" rel="stylesheet" type="text/css"/>
  <link rel='stylesheet' href='{{ site.url }}{{ site.baseurl }}/assets/styles.css?{{site.time | date: "%Y%m%d%H%M"}}'>
  <script src="//cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.7/vendors/easings.min.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.7/vendors/scrolloverflow.min.js" type="text/javascript"></script>
  <script src="{{ site.url }}{{ site.baseurl }}/assets/js/fullpage.js" type="text/javascript"></script>
  <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" type="text/javascript"></script>
  <title>SLI COMMUNICATIONS</title>
</head>
<body>
  {{ content }}
<script src='{{ site.url }}{{ site.baseurl }}/assets/js/main.js?{{site.time | date: "%Y%m%d%H%M"}}'></script>
<script src='{{ site.url }}{{ site.baseurl }}/assets/js/slick-kit.js?{{site.time | date: "%Y%m%d%H%M"}}'></script>
</body>
</html>
